@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Inter:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-pixel: "Press Start 2P", system-ui, sans-serif;
  --font-sans: "Inter", system-ui, sans-serif;
}

@layer utilities {
  .animate-wave {
    animation: wave 10s linear infinite;
  }

  .animate-glow {
    animation: glow 2s ease-in-out infinite alternate;
  }

  @keyframes wave {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  @keyframes glow {
    from {
      box-shadow: 0 0 10px -2px #fbbf24;
    }
    to {
      box-shadow: 0 0 20px 2px #fbbf24;
    }
  }
}
